body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 110vh;
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    position: relative;
    font-family: monospace;

    /*Background image*/
    background-image: url("../assets/web-pages/forest.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

#nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px; 
    background-color: rgba(255, 255, 255, 0.5); 
    box-sizing: border-box; 
}

#nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 15px;
}

a:hover {
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgba(53, 53, 53, 0.5);
}

#login p {
    font-size: 21px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: 10px;
}

#login input {
    margin: 10px 0; 
    width: 350px;
    height: 50px;
    border-radius: 10px;
}

#message {
    font-size: 10px;
    color: red;
}

#login button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 20px;
}